Source: n4d-cdlocker-server
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>,  David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.7

Package: n4d-cdlocker-server
Architecture: all
Conflicts: zero-lliurex-locker (>= 0.143)
Breaks: zero-lliurex-locker (>= 0.143)
Replaces: zero-lliurex-locker (>= 0.143)
Pre-Depends: n4d (>=0.112)
Recommends: lliurex-cdlocker (>=0.2)
Depends: ${misc:Depends}
Description: LliureX CDLocker server plugins 
 Plugins supporting lliurex cdlocker server functionality


